<script>
    
    import {page} from "$app/stores"
    import {onMount} from "svelte"
    import PouchDB from "pouchdb-browser"
    import TPDB from '../../../TinyPouchDB.svelte';
    import LayoutGrid, { Cell } from '@smui/layout-grid';

    let authorId;
    let books = []
    onMount(async ()=>{
        const TinyPouchDB = new PouchDB("books")
        authorId = $page.params.authorId
        console.log(authorId)
        books = await TinyPouchDB.get(authorId)
    })
    
</script>


<TPDB bind:documents={books} initsrc="/books.json" collection="books"></TPDB>
<LayoutGrid>

    {#each books as book}
        {#if book.author == authorId}
            <Cell span={1}>
                <a class="demo-cell" href={`/book/${book._id}`}><img src="data:{book.img.content_type};base64,{book.img.data}" alt="{book.Title}"></a>
            </Cell>
        {/if}     
    {/each}
    
</LayoutGrid>


  

  <style>
    .demo-cell {
      /*height: 60px;*/
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--mdc-theme-secondary, #333);
      color: var(--mdc-theme-on-secondary, #fff);
    }
  </style>