<script>
    import { page } from "$app/stores";
    import { onMount } from "svelte";
    import PouchDB from "pouchdb-browser";
  
    let TinyPouchDB = new PouchDB("books");
    const id = $page.params.id;
  
    let book = {};
    let inputTitle;
    let inputAuthor;
    let inputPrice;
    let inputUrl;
  
    onMount(async () => {
      book = await TinyPouchDB.get(id);
      inputTitle = book.title;
      inputAuthor = book.author;
      inputPrice = book.price;
      inputUrl = book.url;
    });
  
    async function editBook() {
      TinyPouchDB.get(id);
      book.title = inputTitle;
      book.author = inputAuthor;
      book.price = inputPrice;
      book.url = inputUrl;
      TinyPouchDB.put(book);
    }
  </script>
  
  <form on:submit={editBook}>
    <h1>Modifier : <i>{book.title}</i></h1>

    <div class="content_form_container">
  
    <div>
      <label for="title">Titre du livre : </label>
      <input type="text" name="title" id="title" bind:value={inputTitle} />
    </div>
  
    <div>
      <label for="author">Auteur : </label>
      <input type="text" name="author" id="author" bind:value={inputAuthor} />
    </div>
  
    <div>
      <label for="price">Price : </label>
      <input
        type="number"
        name="price"
        id="price"
        step="0.01"
        bind:value={inputPrice}
      />
    </div>
  
    <div>
      <label for="url">Lien du livre : </label>
      <input type="text" name="url" id="url" bind:value={inputUrl} />
    </div>
  
    <div>
      <label for="img">Image associée : </label>
      <!-- <input type="image" src="" alt=""> --><input type="file" name="" id="" />
    </div>
    </div>
  
    <div id="link_container">
    <input type="submit" value="Enregistrer" id="save"/>
    
    <a href="/">Home</a>
    
    <a href="/book/{book._id}">Retour</a>
</div>
  </form>
  
  <br/><br/>
  
  


  <style>

    form{
        background-color: aqua;
        padding: 40px;
        background-color: rgba(255, 255, 255, 0.596);
        margin: 20px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .content_form_container{
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    label{
        font-weight: 700;
    }


    #save{
        margin-top: 20px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
    }

    #save:hover{
        background-color: bisque;
    }

    #link_container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #link_container a{
        color: black;
        border: solid 2px black;
        width: fit-content;
        border-radius: 5px;
        padding: 5px 30px;
        background-color: white;
    }

    #link_container a:hover{
        background-color: bisque;
    }

  </style>