

<script>


  import TopAppBar, {
    Row,
    Section,
    Title,
    AutoAdjust,
  } from '@smui/top-app-bar';
  import IconButton from '@smui/icon-button';
  let topAppBar;
  import TinyPouchDB from '../TinyPouchDB.svelte';
  let books=[];
  import LayoutGrid, { Cell } from '@smui/layout-grid';

</script>

<div class="body">
  <TopAppBar bind:this={topAppBar} variant="fixed">
    <Row>
      <Section>
        <IconButton class="material-icons">menu</IconButton>
        <Title>Bibliothèque</Title>
      </Section>
      <Section align="end" toolbar> 
        <IconButton class="material-icons" aria-label="Print this page"><a href={`/ajouter`}>add</a></IconButton>
        <!-- <IconButton class="material-icons" aria-label="Download">file_download</IconButton>
        <IconButton class="material-icons" aria-label="Bookmark this page">bookmark</IconButton> -->
      </Section>
    </Row>
  </TopAppBar>
  <TinyPouchDB bind:documents={books} initsrc="/books.json" collection="books"></TinyPouchDB>
  <section style="padding-top: 8vh;">
    <LayoutGrid style="display: flex; justify-content:center; align-items: center;">
      {#each books as book}    
        <Cell span={4} align='middle'>
          <a class="demo-cell" href={`/book/${book._id}`}><img src="data:{book.img.content_type};base64,{book.img.data}" alt="{book.title}"></a>
        </Cell>
      {/each}
    </LayoutGrid>
  </section>
</div>

<style>
  
   .demo-cell {
    /* height: 60px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mdc-theme-secondary, #333);
    color: var(--mdc-theme-on-secondary, #fff);
    padding: 30px;
    /* width: fit-content; */
    min-width: 65%;
    max-width: 65%;
    border-radius: 12px;
  }

  .demo-cell img{
    height: 200px;
    width: auto;
  }
  
</style>