
<script>    
    import {page} from "$app/stores"
    import {onMount} from "svelte"
    import PouchDB from "pouchdb-browser"

    const TinyPouchDB = new PouchDB("books")

    let book = {}
    let content_type;
    let data;


    onMount(async ()=>{
        
        const id = $page.params.id
        book = await TinyPouchDB.get(id)
        content_type = book.img.content_type
        data = book.img.data
    })
    console.log($page.params.id)

    async function deleteBook() {
    const id = $page.params.id;
    book = await TinyPouchDB.get(id);

    try {
        //remove marque livre comme supprimé dans la base de données
      await TinyPouchDB.remove(book);
      //supprime les livres marqué avec le remove du cash (= petit temps de chargement)
      await TinyPouchDB.compact();
      alert("Livre supprimé avec succès");
    } 
    catch (err) {
      alert("Erreur lors de la suppression du livre : ", err);
    }
  }

</script>


<section>

    <h1>Titre : <i>{book.title}</i></h1>

    <h3>Auteur : <a href={`/author/${book.author}`}>{book.author}</a></h3>

    <div class="img_container">
        <img src="data:{content_type};base64, {data}" alt="{book.title}">
    </div>
    

    <h3>Prix : {book.price} €</h3>

    <p><strong>Livre accessible ici : </strong><a href="{book.url}" target="_blank">{book.url}</a></p>

    <div class="button_container">
        <a href="/edit/{book._id}"><button><span>&#9998;</span></button></a>
        <a href="/" on:click={deleteBook}><button><span>&#10006;</span></button></a>
        <a href="/"><button><span>&#10550;</span></button></a>
    </div>
</section>

<style>


    section{
        display: flex;
        flex-direction: column;
        padding: 40px;
        color: black;
        background-color: rgba(255, 255, 255, 0.596);
        margin: 20px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .img_container{
        border: solid 1px black;
        border-radius: 12px;
        width: 250px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: white;
    }

    img{        
        height: 100%;
    }
    
    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: blue;
    }

    button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    button:hover{
        background-color: bisque;
    }

    .button_container{
        display: flex;
        gap: 20px;
    }


</style>